.titled-pane .arrow
{
    /* Gets rid of the arrow beside title pane headers */
    visibility: false;
}

.titled-pane .title
{
    /* Hacky, but easiest way to remove space from the missing arrow */
    -fx-padding: 5 0 5 -4;
}

.chart-symbol
{
    /* Adds spacing for symbols in the debug view's chart */
    -fx-padding: 2px;
}

.control-panel-left
{
    -fx-pref-width: 265px;
    -fx-pref-height: 500px;
}

.control-panel-right
{
    -fx-pref-width: 295px;
}

.data-panel
{
    -fx-pref-height: 500px;
}